* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* .frame .space {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  height: 275px;
  border-radius: 50%;
  background: rgb(100, 171, 186);
  background: linear-gradient(42deg, rgb(100, 171, 186) 0%, rgb(31, 70, 87) 100%);
  overflow: hidden;
}
* .frame .space .star {
  width: 1px;
  height: 1px;
  position: absolute;
  background: #fff;
  animation-name: star-animation;
  animation-iteration-count: infinite;
}
@keyframes star-animation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
* .frame .space .star-1 {
  top: 19px;
  left: 106px;
  animation-delay: 20s;
  animation-duration: 2s;
}
* .frame .space .star-2 {
  top: 232px;
  left: 90px;
  animation-delay: 34s;
  animation-duration: 10s;
}
* .frame .space .star-3 {
  top: 61px;
  left: 204px;
  animation-delay: 46s;
  animation-duration: 10s;
}
* .frame .space .star-4 {
  top: 63px;
  left: 137px;
  animation-delay: 24s;
  animation-duration: 9s;
}
* .frame .space .star-5 {
  top: 256px;
  left: 54px;
  animation-delay: 5s;
  animation-duration: 3s;
}
* .frame .space .star-6 {
  top: 4px;
  left: 137px;
  animation-delay: 7s;
  animation-duration: 10s;
}
* .frame .space .star-7 {
  top: 248px;
  left: 43px;
  animation-delay: 17s;
  animation-duration: 8s;
}
* .frame .space .star-8 {
  top: 26px;
  left: 183px;
  animation-delay: 49s;
  animation-duration: 2s;
}
* .frame .space .star-9 {
  top: 187px;
  left: 233px;
  animation-delay: 28s;
  animation-duration: 4s;
}
* .frame .space .star-10 {
  top: 47px;
  left: 202px;
  animation-delay: 20s;
  animation-duration: 4s;
}
* .frame .space .star-11 {
  top: 223px;
  left: 129px;
  animation-delay: 38s;
  animation-duration: 7s;
}
* .frame .space .star-12 {
  top: 251px;
  left: 252px;
  animation-delay: 49s;
  animation-duration: 6s;
}
* .frame .space .star-13 {
  top: 12px;
  left: 180px;
  animation-delay: 38s;
  animation-duration: 7s;
}
* .frame .space .star-14 {
  top: 75px;
  left: 27px;
  animation-delay: 46s;
  animation-duration: 4s;
}
* .frame .space .star-15 {
  top: 251px;
  left: 113px;
  animation-delay: 15s;
  animation-duration: 7s;
}
* .frame .space .star-16 {
  top: 263px;
  left: 122px;
  animation-delay: 18s;
  animation-duration: 5s;
}
* .frame .space .star-17 {
  top: 228px;
  left: 266px;
  animation-delay: 1s;
  animation-duration: 5s;
}
* .frame .space .star-18 {
  top: 42px;
  left: 55px;
  animation-delay: 7s;
  animation-duration: 6s;
}
* .frame .space .star-19 {
  top: 50px;
  left: 24px;
  animation-delay: 8s;
  animation-duration: 6s;
}
* .frame .space .star-20 {
  top: 49px;
  left: 144px;
  animation-delay: 20s;
  animation-duration: 8s;
}
* .frame .space .star-21 {
  top: 177px;
  left: 133px;
  animation-delay: 48s;
  animation-duration: 5s;
}
* .frame .space .star-22 {
  top: 163px;
  left: 1px;
  animation-delay: 28s;
  animation-duration: 6s;
}
* .frame .space .star-23 {
  top: 261px;
  left: 215px;
  animation-delay: 27s;
  animation-duration: 3s;
}
* .frame .space .star-24 {
  top: 189px;
  left: 58px;
  animation-delay: 38s;
  animation-duration: 9s;
}
* .frame .space .star-25 {
  top: 102px;
  left: 70px;
  animation-delay: 39s;
  animation-duration: 2s;
}
* .frame .space .star-26 {
  top: 175px;
  left: 187px;
  animation-delay: 47s;
  animation-duration: 2s;
}
* .frame .space .star-27 {
  top: 39px;
  left: 258px;
  animation-delay: 39s;
  animation-duration: 4s;
}
* .frame .space .star-28 {
  top: 111px;
  left: 149px;
  animation-delay: 35s;
  animation-duration: 5s;
}
* .frame .space .star-29 {
  top: 10px;
  left: 190px;
  animation-delay: 44s;
  animation-duration: 3s;
}
* .frame .space .star-30 {
  top: 177px;
  left: 85px;
  animation-delay: 31s;
  animation-duration: 7s;
}
* .frame .space .star-31 {
  top: 172px;
  left: 20px;
  animation-delay: 13s;
  animation-duration: 8s;
}
* .frame .space .star-32 {
  top: 136px;
  left: 182px;
  animation-delay: 17s;
  animation-duration: 2s;
}
* .frame .space .star-33 {
  top: 106px;
  left: 2px;
  animation-delay: 49s;
  animation-duration: 5s;
}
* .frame .space .star-34 {
  top: 160px;
  left: 44px;
  animation-delay: 3s;
  animation-duration: 7s;
}
* .frame .space .star-35 {
  top: 142px;
  left: 123px;
  animation-delay: 27s;
  animation-duration: 7s;
}
* .frame .space .star-36 {
  top: 145px;
  left: 263px;
  animation-delay: 39s;
  animation-duration: 4s;
}
* .frame .space .star-37 {
  top: 99px;
  left: 149px;
  animation-delay: 42s;
  animation-duration: 1s;
}
* .frame .space .star-38 {
  top: 208px;
  left: 202px;
  animation-delay: 7s;
  animation-duration: 9s;
}
* .frame .space .star-39 {
  top: 21px;
  left: 79px;
  animation-delay: 32s;
  animation-duration: 4s;
}
* .frame .space .star-40 {
  top: 89px;
  left: 222px;
  animation-delay: 42s;
  animation-duration: 10s;
}
* .frame .space .star-41 {
  top: 201px;
  left: 157px;
  animation-delay: 42s;
  animation-duration: 5s;
}
* .frame .space .star-42 {
  top: 61px;
  left: 35px;
  animation-delay: 4s;
  animation-duration: 2s;
}
* .frame .space .star-43 {
  top: 36px;
  left: 6px;
  animation-delay: 47s;
  animation-duration: 5s;
}
* .frame .space .star-44 {
  top: 204px;
  left: 67px;
  animation-delay: 38s;
  animation-duration: 10s;
}
* .frame .space .star-45 {
  top: 166px;
  left: 73px;
  animation-delay: 26s;
  animation-duration: 4s;
}
* .frame .space .star-46 {
  top: 164px;
  left: 46px;
  animation-delay: 13s;
  animation-duration: 1s;
}
* .frame .space .star-47 {
  top: 261px;
  left: 250px;
  animation-delay: 22s;
  animation-duration: 9s;
}
* .frame .space .star-48 {
  top: 86px;
  left: 92px;
  animation-delay: 41s;
  animation-duration: 2s;
}
* .frame .space .star-49 {
  top: 99px;
  left: 263px;
  animation-delay: 1s;
  animation-duration: 1s;
}
* .frame .space .star-50 {
  top: 240px;
  left: 174px;
  animation-delay: 48s;
  animation-duration: 10s;
}
* .frame .space .star-51 {
  top: 11px;
  left: 32px;
  animation-delay: 49s;
  animation-duration: 10s;
}
* .frame .space .star-52 {
  top: 209px;
  left: 250px;
  animation-delay: 40s;
  animation-duration: 2s;
}
* .frame .space .star-53 {
  top: 25px;
  left: 165px;
  animation-delay: 48s;
  animation-duration: 10s;
}
* .frame .space .star-54 {
  top: 137px;
  left: 67px;
  animation-delay: 5s;
  animation-duration: 9s;
}
* .frame .space .star-55 {
  top: 4px;
  left: 89px;
  animation-delay: 20s;
  animation-duration: 4s;
}
* .frame .space .star-56 {
  top: 173px;
  left: 148px;
  animation-delay: 11s;
  animation-duration: 4s;
}
* .frame .space .star-57 {
  top: 17px;
  left: 109px;
  animation-delay: 42s;
  animation-duration: 3s;
}
* .frame .space .star-58 {
  top: 168px;
  left: 158px;
  animation-delay: 39s;
  animation-duration: 4s;
}
* .frame .space .star-59 {
  top: 171px;
  left: 196px;
  animation-delay: 10s;
  animation-duration: 6s;
}
* .frame .space .star-60 {
  top: 162px;
  left: 68px;
  animation-delay: 17s;
  animation-duration: 4s;
}
* .frame .space .star-61 {
  top: 170px;
  left: 63px;
  animation-delay: 1s;
  animation-duration: 1s;
}
* .frame .space .star-62 {
  top: 20px;
  left: 185px;
  animation-delay: 1s;
  animation-duration: 4s;
}
* .frame .space .star-63 {
  top: 160px;
  left: 220px;
  animation-delay: 38s;
  animation-duration: 2s;
}
* .frame .space .star-64 {
  top: 10px;
  left: 118px;
  animation-delay: 48s;
  animation-duration: 9s;
}
* .frame .space .star-65 {
  top: 267px;
  left: 219px;
  animation-delay: 31s;
  animation-duration: 2s;
}
* .frame .space .star-66 {
  top: 15px;
  left: 8px;
  animation-delay: 26s;
  animation-duration: 6s;
}
* .frame .space .star-67 {
  top: 260px;
  left: 133px;
  animation-delay: 41s;
  animation-duration: 2s;
}
* .frame .space .star-68 {
  top: 68px;
  left: 240px;
  animation-delay: 7s;
  animation-duration: 5s;
}
* .frame .space .star-69 {
  top: 183px;
  left: 72px;
  animation-delay: 11s;
  animation-duration: 2s;
}
* .frame .space .star-70 {
  top: 199px;
  left: 245px;
  animation-delay: 15s;
  animation-duration: 6s;
}
* .frame .space .star-71 {
  top: 145px;
  left: 251px;
  animation-delay: 48s;
  animation-duration: 5s;
}
* .frame .space .star-72 {
  top: 94px;
  left: 223px;
  animation-delay: 30s;
  animation-duration: 3s;
}
* .frame .space .star-73 {
  top: 230px;
  left: 93px;
  animation-delay: 20s;
  animation-duration: 1s;
}
* .frame .space .star-74 {
  top: 249px;
  left: 204px;
  animation-delay: 21s;
  animation-duration: 6s;
}
* .frame .space .star-75 {
  top: 162px;
  left: 123px;
  animation-delay: 47s;
  animation-duration: 1s;
}
* .frame .space .star-76 {
  top: 237px;
  left: 189px;
  animation-delay: 13s;
  animation-duration: 8s;
}
* .frame .space .star-77 {
  top: 203px;
  left: 251px;
  animation-delay: 16s;
  animation-duration: 8s;
}
* .frame .space .star-78 {
  top: 119px;
  left: 234px;
  animation-delay: 22s;
  animation-duration: 8s;
}
* .frame .space .star-79 {
  top: 37px;
  left: 174px;
  animation-delay: 23s;
  animation-duration: 5s;
}
* .frame .space .star-80 {
  top: 160px;
  left: 9px;
  animation-delay: 2s;
  animation-duration: 2s;
}
* .frame .space .star-81 {
  top: 127px;
  left: 154px;
  animation-delay: 23s;
  animation-duration: 5s;
}
* .frame .space .star-82 {
  top: 245px;
  left: 28px;
  animation-delay: 29s;
  animation-duration: 4s;
}
* .frame .space .star-83 {
  top: 79px;
  left: 179px;
  animation-delay: 21s;
  animation-duration: 1s;
}
* .frame .space .star-84 {
  top: 83px;
  left: 265px;
  animation-delay: 22s;
  animation-duration: 7s;
}
* .frame .space .star-85 {
  top: 202px;
  left: 39px;
  animation-delay: 21s;
  animation-duration: 10s;
}
* .frame .space .star-86 {
  top: 179px;
  left: 208px;
  animation-delay: 9s;
  animation-duration: 2s;
}
* .frame .space .star-87 {
  top: 17px;
  left: 19px;
  animation-delay: 21s;
  animation-duration: 6s;
}
* .frame .space .star-88 {
  top: 122px;
  left: 136px;
  animation-delay: 46s;
  animation-duration: 5s;
}
* .frame .space .star-89 {
  top: 267px;
  left: 150px;
  animation-delay: 46s;
  animation-duration: 6s;
}
* .frame .space .star-90 {
  top: 125px;
  left: 110px;
  animation-delay: 16s;
  animation-duration: 8s;
}
* .frame .space .star-91 {
  top: 72px;
  left: 54px;
  animation-delay: 6s;
  animation-duration: 2s;
}
* .frame .space .star-92 {
  top: 187px;
  left: 208px;
  animation-delay: 45s;
  animation-duration: 9s;
}
* .frame .space .star-93 {
  top: 66px;
  left: 93px;
  animation-delay: 37s;
  animation-duration: 4s;
}
* .frame .space .star-94 {
  top: 275px;
  left: 13px;
  animation-delay: 47s;
  animation-duration: 10s;
}
* .frame .space .star-95 {
  top: 239px;
  left: 17px;
  animation-delay: 39s;
  animation-duration: 1s;
}
* .frame .space .star-96 {
  top: 222px;
  left: 207px;
  animation-delay: 32s;
  animation-duration: 1s;
}
* .frame .space .star-97 {
  top: 71px;
  left: 23px;
  animation-delay: 10s;
  animation-duration: 3s;
}
* .frame .space .star-98 {
  top: 38px;
  left: 5px;
  animation-delay: 31s;
  animation-duration: 1s;
}
* .frame .space .star-99 {
  top: 1px;
  left: 269px;
  animation-delay: 47s;
  animation-duration: 7s;
}
* .frame .space .star-100 {
  top: 169px;
  left: 17px;
  animation-delay: 33s;
  animation-duration: 1s;
}
* .frame .space .star-101 {
  top: 37px;
  left: 92px;
  animation-delay: 32s;
  animation-duration: 6s;
}
* .frame .space .star-102 {
  top: 34px;
  left: 44px;
  animation-delay: 15s;
  animation-duration: 7s;
}
* .frame .space .star-103 {
  top: 97px;
  left: 62px;
  animation-delay: 43s;
  animation-duration: 8s;
}
* .frame .space .star-104 {
  top: 263px;
  left: 272px;
  animation-delay: 6s;
  animation-duration: 8s;
}
* .frame .space .star-105 {
  top: 19px;
  left: 34px;
  animation-delay: 37s;
  animation-duration: 3s;
}
* .frame .space .star-106 {
  top: 22px;
  left: 188px;
  animation-delay: 44s;
  animation-duration: 3s;
}
* .frame .space .star-107 {
  top: 24px;
  left: 120px;
  animation-delay: 38s;
  animation-duration: 7s;
}
* .frame .space .star-108 {
  top: 130px;
  left: 82px;
  animation-delay: 28s;
  animation-duration: 5s;
}
* .frame .space .star-109 {
  top: 180px;
  left: 153px;
  animation-delay: 19s;
  animation-duration: 2s;
}
* .frame .space .star-110 {
  top: 138px;
  left: 243px;
  animation-delay: 14s;
  animation-duration: 2s;
}
* .frame .space .star-111 {
  top: 23px;
  left: 204px;
  animation-delay: 39s;
  animation-duration: 9s;
}
* .frame .space .star-112 {
  top: 265px;
  left: 142px;
  animation-delay: 8s;
  animation-duration: 1s;
}
* .frame .space .star-113 {
  top: 129px;
  left: 118px;
  animation-delay: 40s;
  animation-duration: 5s;
}
* .frame .space .star-114 {
  top: 113px;
  left: 34px;
  animation-delay: 44s;
  animation-duration: 9s;
}
* .frame .space .star-115 {
  top: 258px;
  left: 60px;
  animation-delay: 29s;
  animation-duration: 8s;
}
* .frame .space .star-116 {
  top: 143px;
  left: 269px;
  animation-delay: 48s;
  animation-duration: 7s;
}
* .frame .space .star-117 {
  top: 210px;
  left: 210px;
  animation-delay: 36s;
  animation-duration: 8s;
}
* .frame .space .star-118 {
  top: 148px;
  left: 5px;
  animation-delay: 46s;
  animation-duration: 3s;
}
* .frame .space .star-119 {
  top: 221px;
  left: 232px;
  animation-delay: 28s;
  animation-duration: 2s;
}
* .frame .space .star-120 {
  top: 104px;
  left: 197px;
  animation-delay: 35s;
  animation-duration: 7s;
}
* .frame .space .star-121 {
  top: 155px;
  left: 153px;
  animation-delay: 32s;
  animation-duration: 10s;
}
* .frame .space .star-122 {
  top: 21px;
  left: 230px;
  animation-delay: 48s;
  animation-duration: 10s;
}
* .frame .space .star-123 {
  top: 34px;
  left: 17px;
  animation-delay: 47s;
  animation-duration: 9s;
}
* .frame .space .star-124 {
  top: 153px;
  left: 77px;
  animation-delay: 40s;
  animation-duration: 1s;
}
* .frame .space .star-125 {
  top: 148px;
  left: 125px;
  animation-delay: 26s;
  animation-duration: 2s;
}
* .frame .space .star-126 {
  top: 96px;
  left: 93px;
  animation-delay: 46s;
  animation-duration: 1s;
}
* .frame .space .star-127 {
  top: 80px;
  left: 145px;
  animation-delay: 42s;
  animation-duration: 4s;
}
* .frame .space .star-128 {
  top: 67px;
  left: 185px;
  animation-delay: 26s;
  animation-duration: 6s;
}
* .frame .space .star-129 {
  top: 36px;
  left: 75px;
  animation-delay: 5s;
  animation-duration: 2s;
}
* .frame .space .star-130 {
  top: 194px;
  left: 99px;
  animation-delay: 49s;
  animation-duration: 1s;
}
* .frame .space .star-131 {
  top: 120px;
  left: 146px;
  animation-delay: 8s;
  animation-duration: 6s;
}
* .frame .space .star-132 {
  top: 228px;
  left: 251px;
  animation-delay: 42s;
  animation-duration: 5s;
}
* .frame .space .star-133 {
  top: 253px;
  left: 26px;
  animation-delay: 1s;
  animation-duration: 3s;
}
* .frame .space .star-134 {
  top: 225px;
  left: 182px;
  animation-delay: 34s;
  animation-duration: 5s;
}
* .frame .space .star-135 {
  top: 141px;
  left: 9px;
  animation-delay: 10s;
  animation-duration: 7s;
}
* .frame .space .star-136 {
  top: 188px;
  left: 222px;
  animation-delay: 6s;
  animation-duration: 5s;
}
* .frame .space .star-137 {
  top: 59px;
  left: 75px;
  animation-delay: 43s;
  animation-duration: 3s;
}
* .frame .space .star-138 {
  top: 109px;
  left: 93px;
  animation-delay: 4s;
  animation-duration: 10s;
}
* .frame .space .star-139 {
  top: 62px;
  left: 230px;
  animation-delay: 16s;
  animation-duration: 9s;
}
* .frame .space .star-140 {
  top: 237px;
  left: 68px;
  animation-delay: 16s;
  animation-duration: 2s;
}
* .frame .space .star-141 {
  top: 37px;
  left: 157px;
  animation-delay: 35s;
  animation-duration: 10s;
}
* .frame .space .star-142 {
  top: 232px;
  left: 180px;
  animation-delay: 20s;
  animation-duration: 3s;
}
* .frame .space .star-143 {
  top: 99px;
  left: 89px;
  animation-delay: 19s;
  animation-duration: 7s;
}
* .frame .space .star-144 {
  top: 238px;
  left: 146px;
  animation-delay: 11s;
  animation-duration: 5s;
}
* .frame .space .star-145 {
  top: 106px;
  left: 138px;
  animation-delay: 34s;
  animation-duration: 9s;
}
* .frame .space .star-146 {
  top: 6px;
  left: 127px;
  animation-delay: 38s;
  animation-duration: 3s;
}
* .frame .space .star-147 {
  top: 40px;
  left: 108px;
  animation-delay: 20s;
  animation-duration: 10s;
}
* .frame .space .star-148 {
  top: 100px;
  left: 71px;
  animation-delay: 46s;
  animation-duration: 1s;
}
* .frame .space .star-149 {
  top: 203px;
  left: 85px;
  animation-delay: 25s;
  animation-duration: 6s;
}
* .frame .space .star-150 {
  top: 250px;
  left: 74px;
  animation-delay: 16s;
  animation-duration: 6s;
}
* .frame .space .star-151 {
  top: 257px;
  left: 181px;
  animation-delay: 11s;
  animation-duration: 6s;
}
* .frame .space .star-152 {
  top: 112px;
  left: 27px;
  animation-delay: 34s;
  animation-duration: 4s;
}
* .frame .space .star-153 {
  top: 11px;
  left: 169px;
  animation-delay: 34s;
  animation-duration: 1s;
}
* .frame .space .star-154 {
  top: 105px;
  left: 31px;
  animation-delay: 24s;
  animation-duration: 9s;
}
* .frame .space .star-155 {
  top: 201px;
  left: 26px;
  animation-delay: 7s;
  animation-duration: 10s;
}
* .frame .space .star-156 {
  top: 88px;
  left: 55px;
  animation-delay: 48s;
  animation-duration: 8s;
}
* .frame .space .star-157 {
  top: 248px;
  left: 33px;
  animation-delay: 1s;
  animation-duration: 2s;
}
* .frame .space .star-158 {
  top: 102px;
  left: 188px;
  animation-delay: 12s;
  animation-duration: 6s;
}
* .frame .space .star-159 {
  top: 259px;
  left: 124px;
  animation-delay: 31s;
  animation-duration: 6s;
}
* .frame .space .star-160 {
  top: 166px;
  left: 123px;
  animation-delay: 5s;
  animation-duration: 4s;
}
* .frame .space .star-161 {
  top: 170px;
  left: 233px;
  animation-delay: 9s;
  animation-duration: 3s;
}
* .frame .space .star-162 {
  top: 63px;
  left: 6px;
  animation-delay: 16s;
  animation-duration: 7s;
}
* .frame .space .star-163 {
  top: 219px;
  left: 124px;
  animation-delay: 31s;
  animation-duration: 3s;
}
* .frame .space .star-164 {
  top: 18px;
  left: 244px;
  animation-delay: 27s;
  animation-duration: 4s;
}
* .frame .space .star-165 {
  top: 36px;
  left: 198px;
  animation-delay: 30s;
  animation-duration: 4s;
}
* .frame .space .star-166 {
  top: 114px;
  left: 27px;
  animation-delay: 31s;
  animation-duration: 9s;
}
* .frame .space .star-167 {
  top: 43px;
  left: 28px;
  animation-delay: 28s;
  animation-duration: 5s;
}
* .frame .space .star-168 {
  top: 235px;
  left: 1px;
  animation-delay: 29s;
  animation-duration: 5s;
}
* .frame .space .star-169 {
  top: 241px;
  left: 163px;
  animation-delay: 38s;
  animation-duration: 4s;
}
* .frame .space .star-170 {
  top: 137px;
  left: 267px;
  animation-delay: 32s;
  animation-duration: 6s;
}
* .frame .space .star-171 {
  top: 207px;
  left: 251px;
  animation-delay: 47s;
  animation-duration: 5s;
}
* .frame .space .star-172 {
  top: 188px;
  left: 107px;
  animation-delay: 40s;
  animation-duration: 5s;
}
* .frame .space .star-173 {
  top: 58px;
  left: 16px;
  animation-delay: 38s;
  animation-duration: 9s;
}
* .frame .space .star-174 {
  top: 214px;
  left: 68px;
  animation-delay: 35s;
  animation-duration: 10s;
}
* .frame .space .star-175 {
  top: 83px;
  left: 10px;
  animation-delay: 28s;
  animation-duration: 9s;
}
* .frame .space .star-176 {
  top: 156px;
  left: 51px;
  animation-delay: 34s;
  animation-duration: 3s;
}
* .frame .space .star-177 {
  top: 203px;
  left: 266px;
  animation-delay: 41s;
  animation-duration: 9s;
}
* .frame .space .star-178 {
  top: 136px;
  left: 237px;
  animation-delay: 37s;
  animation-duration: 8s;
}
* .frame .space .star-179 {
  top: 54px;
  left: 57px;
  animation-delay: 3s;
  animation-duration: 2s;
}
* .frame .space .star-180 {
  top: 111px;
  left: 102px;
  animation-delay: 30s;
  animation-duration: 8s;
}
* .frame .space .star-181 {
  top: 85px;
  left: 13px;
  animation-delay: 29s;
  animation-duration: 4s;
}
* .frame .space .star-182 {
  top: 158px;
  left: 111px;
  animation-delay: 7s;
  animation-duration: 10s;
}
* .frame .space .star-183 {
  top: 52px;
  left: 199px;
  animation-delay: 13s;
  animation-duration: 10s;
}
* .frame .space .star-184 {
  top: 59px;
  left: 96px;
  animation-delay: 4s;
  animation-duration: 10s;
}
* .frame .space .star-185 {
  top: 112px;
  left: 62px;
  animation-delay: 23s;
  animation-duration: 7s;
}
* .frame .space .star-186 {
  top: 210px;
  left: 194px;
  animation-delay: 35s;
  animation-duration: 3s;
}
* .frame .space .star-187 {
  top: 28px;
  left: 56px;
  animation-delay: 12s;
  animation-duration: 5s;
}
* .frame .space .star-188 {
  top: 268px;
  left: 72px;
  animation-delay: 15s;
  animation-duration: 8s;
}
* .frame .space .star-189 {
  top: 70px;
  left: 39px;
  animation-delay: 27s;
  animation-duration: 7s;
}
* .frame .space .star-190 {
  top: 158px;
  left: 6px;
  animation-delay: 8s;
  animation-duration: 8s;
}
* .frame .space .star-191 {
  top: 143px;
  left: 125px;
  animation-delay: 19s;
  animation-duration: 2s;
}
* .frame .space .star-192 {
  top: 227px;
  left: 122px;
  animation-delay: 27s;
  animation-duration: 5s;
}
* .frame .space .star-193 {
  top: 116px;
  left: 139px;
  animation-delay: 13s;
  animation-duration: 9s;
}
* .frame .space .star-194 {
  top: 230px;
  left: 208px;
  animation-delay: 16s;
  animation-duration: 5s;
}
* .frame .space .star-195 {
  top: 274px;
  left: 249px;
  animation-delay: 18s;
  animation-duration: 6s;
}
* .frame .space .star-196 {
  top: 69px;
  left: 116px;
  animation-delay: 20s;
  animation-duration: 1s;
}
* .frame .space .star-197 {
  top: 95px;
  left: 227px;
  animation-delay: 21s;
  animation-duration: 6s;
}
* .frame .space .star-198 {
  top: 155px;
  left: 70px;
  animation-delay: 19s;
  animation-duration: 8s;
}
* .frame .space .star-199 {
  top: 55px;
  left: 227px;
  animation-delay: 6s;
  animation-duration: 3s;
}
* .frame .space .star-200 {
  top: 213px;
  left: 37px;
  animation-delay: 42s;
  animation-duration: 8s;
}
* .frame .space .star-201 {
  top: 249px;
  left: 23px;
  animation-delay: 35s;
  animation-duration: 2s;
}
* .frame .space .star-202 {
  top: 163px;
  left: 16px;
  animation-delay: 50s;
  animation-duration: 6s;
}
* .frame .space .star-203 {
  top: 115px;
  left: 137px;
  animation-delay: 29s;
  animation-duration: 9s;
}
* .frame .space .star-204 {
  top: 145px;
  left: 176px;
  animation-delay: 35s;
  animation-duration: 2s;
}
* .frame .space .star-205 {
  top: 247px;
  left: 170px;
  animation-delay: 43s;
  animation-duration: 6s;
}
* .frame .space .star-206 {
  top: 195px;
  left: 36px;
  animation-delay: 15s;
  animation-duration: 4s;
}
* .frame .space .star-207 {
  top: 261px;
  left: 176px;
  animation-delay: 33s;
  animation-duration: 2s;
}
* .frame .space .star-208 {
  top: 61px;
  left: 76px;
  animation-delay: 41s;
  animation-duration: 9s;
}
* .frame .space .star-209 {
  top: 25px;
  left: 85px;
  animation-delay: 8s;
  animation-duration: 10s;
}
* .frame .space .star-210 {
  top: 142px;
  left: 113px;
  animation-delay: 6s;
  animation-duration: 6s;
}
* .frame .space .star-211 {
  top: 185px;
  left: 21px;
  animation-delay: 28s;
  animation-duration: 5s;
}
* .frame .space .star-212 {
  top: 78px;
  left: 131px;
  animation-delay: 21s;
  animation-duration: 1s;
}
* .frame .space .star-213 {
  top: 154px;
  left: 188px;
  animation-delay: 13s;
  animation-duration: 4s;
}
* .frame .space .star-214 {
  top: 187px;
  left: 208px;
  animation-delay: 45s;
  animation-duration: 6s;
}
* .frame .space .star-215 {
  top: 185px;
  left: 265px;
  animation-delay: 23s;
  animation-duration: 6s;
}
* .frame .space .star-216 {
  top: 224px;
  left: 26px;
  animation-delay: 12s;
  animation-duration: 6s;
}
* .frame .space .star-217 {
  top: 185px;
  left: 138px;
  animation-delay: 37s;
  animation-duration: 1s;
}
* .frame .space .star-218 {
  top: 122px;
  left: 271px;
  animation-delay: 47s;
  animation-duration: 6s;
}
* .frame .space .star-219 {
  top: 151px;
  left: 21px;
  animation-delay: 26s;
  animation-duration: 4s;
}
* .frame .space .star-220 {
  top: 236px;
  left: 77px;
  animation-delay: 23s;
  animation-duration: 4s;
}
* .frame .space .star-221 {
  top: 219px;
  left: 275px;
  animation-delay: 23s;
  animation-duration: 10s;
}
* .frame .space .star-222 {
  top: 13px;
  left: 9px;
  animation-delay: 36s;
  animation-duration: 1s;
}
* .frame .space .star-223 {
  top: 105px;
  left: 110px;
  animation-delay: 2s;
  animation-duration: 10s;
}
* .frame .space .star-224 {
  top: 64px;
  left: 25px;
  animation-delay: 3s;
  animation-duration: 3s;
}
* .frame .space .star-225 {
  top: 47px;
  left: 128px;
  animation-delay: 22s;
  animation-duration: 2s;
}
* .frame .space .star-226 {
  top: 1px;
  left: 69px;
  animation-delay: 3s;
  animation-duration: 10s;
}
* .frame .space .star-227 {
  top: 9px;
  left: 0px;
  animation-delay: 41s;
  animation-duration: 2s;
}
* .frame .space .star-228 {
  top: 73px;
  left: 41px;
  animation-delay: 27s;
  animation-duration: 3s;
}
* .frame .space .star-229 {
  top: 130px;
  left: 210px;
  animation-delay: 42s;
  animation-duration: 3s;
}
* .frame .space .star-230 {
  top: 177px;
  left: 72px;
  animation-delay: 5s;
  animation-duration: 10s;
}
* .frame .space .star-231 {
  top: 35px;
  left: 182px;
  animation-delay: 39s;
  animation-duration: 4s;
}
* .frame .space .star-232 {
  top: 27px;
  left: 253px;
  animation-delay: 30s;
  animation-duration: 6s;
}
* .frame .space .star-233 {
  top: 38px;
  left: 7px;
  animation-delay: 43s;
  animation-duration: 10s;
}
* .frame .space .star-234 {
  top: 83px;
  left: 116px;
  animation-delay: 38s;
  animation-duration: 6s;
}
* .frame .space .star-235 {
  top: 90px;
  left: 222px;
  animation-delay: 48s;
  animation-duration: 8s;
}
* .frame .space .star-236 {
  top: 44px;
  left: 226px;
  animation-delay: 16s;
  animation-duration: 3s;
}
* .frame .space .star-237 {
  top: 84px;
  left: 33px;
  animation-delay: 12s;
  animation-duration: 10s;
}
* .frame .space .star-238 {
  top: 119px;
  left: 121px;
  animation-delay: 1s;
  animation-duration: 3s;
}
* .frame .space .star-239 {
  top: 245px;
  left: 122px;
  animation-delay: 24s;
  animation-duration: 10s;
}
* .frame .space .star-240 {
  top: 59px;
  left: 209px;
  animation-delay: 21s;
  animation-duration: 5s;
}
* .frame .space .star-241 {
  top: 34px;
  left: 241px;
  animation-delay: 12s;
  animation-duration: 1s;
}
* .frame .space .star-242 {
  top: 179px;
  left: 96px;
  animation-delay: 8s;
  animation-duration: 6s;
}
* .frame .space .star-243 {
  top: 170px;
  left: 9px;
  animation-delay: 1s;
  animation-duration: 5s;
}
* .frame .space .star-244 {
  top: 156px;
  left: 121px;
  animation-delay: 8s;
  animation-duration: 8s;
}
* .frame .space .star-245 {
  top: 2px;
  left: 16px;
  animation-delay: 2s;
  animation-duration: 9s;
}
* .frame .space .star-246 {
  top: 244px;
  left: 236px;
  animation-delay: 49s;
  animation-duration: 2s;
}
* .frame .space .star-247 {
  top: 45px;
  left: 69px;
  animation-delay: 24s;
  animation-duration: 1s;
}
* .frame .space .star-248 {
  top: 262px;
  left: 250px;
  animation-delay: 20s;
  animation-duration: 10s;
}
* .frame .space .star-249 {
  top: 161px;
  left: 22px;
  animation-delay: 43s;
  animation-duration: 9s;
}
* .frame .space .star-250 {
  top: 238px;
  left: 255px;
  animation-delay: 46s;
  animation-duration: 2s;
}
* .frame .space .star-251 {
  top: 23px;
  left: 269px;
  animation-delay: 42s;
  animation-duration: 10s;
}
* .frame .space .star-252 {
  top: 161px;
  left: 10px;
  animation-delay: 3s;
  animation-duration: 1s;
}
* .frame .space .star-253 {
  top: 1px;
  left: 42px;
  animation-delay: 47s;
  animation-duration: 7s;
}
* .frame .space .star-254 {
  top: 128px;
  left: 197px;
  animation-delay: 19s;
  animation-duration: 10s;
}
* .frame .space .star-255 {
  top: 272px;
  left: 55px;
  animation-delay: 17s;
  animation-duration: 2s;
}
* .frame .space .star-256 {
  top: 18px;
  left: 207px;
  animation-delay: 26s;
  animation-duration: 2s;
}
* .frame .space .star-257 {
  top: 176px;
  left: 191px;
  animation-delay: 48s;
  animation-duration: 3s;
}
* .frame .space .star-258 {
  top: 174px;
  left: 194px;
  animation-delay: 50s;
  animation-duration: 6s;
}
* .frame .space .star-259 {
  top: 156px;
  left: 144px;
  animation-delay: 20s;
  animation-duration: 10s;
}
* .frame .space .star-260 {
  top: 198px;
  left: 63px;
  animation-delay: 47s;
  animation-duration: 6s;
}
* .frame .space .star-261 {
  top: 86px;
  left: 152px;
  animation-delay: 29s;
  animation-duration: 3s;
}
* .frame .space .star-262 {
  top: 42px;
  left: 131px;
  animation-delay: 49s;
  animation-duration: 4s;
}
* .frame .space .star-263 {
  top: 263px;
  left: 64px;
  animation-delay: 4s;
  animation-duration: 4s;
}
* .frame .space .star-264 {
  top: 43px;
  left: 13px;
  animation-delay: 23s;
  animation-duration: 10s;
}
* .frame .space .star-265 {
  top: 57px;
  left: 230px;
  animation-delay: 2s;
  animation-duration: 8s;
}
* .frame .space .star-266 {
  top: 5px;
  left: 14px;
  animation-delay: 45s;
  animation-duration: 6s;
}
* .frame .space .star-267 {
  top: 161px;
  left: 95px;
  animation-delay: 42s;
  animation-duration: 7s;
}
* .frame .space .star-268 {
  top: 189px;
  left: 19px;
  animation-delay: 3s;
  animation-duration: 8s;
}
* .frame .space .star-269 {
  top: 60px;
  left: 11px;
  animation-delay: 42s;
  animation-duration: 3s;
}
* .frame .space .star-270 {
  top: 240px;
  left: 110px;
  animation-delay: 17s;
  animation-duration: 8s;
}
* .frame .space .star-271 {
  top: 242px;
  left: 272px;
  animation-delay: 5s;
  animation-duration: 5s;
}
* .frame .space .star-272 {
  top: 37px;
  left: 256px;
  animation-delay: 33s;
  animation-duration: 9s;
}
* .frame .space .star-273 {
  top: 120px;
  left: 20px;
  animation-delay: 50s;
  animation-duration: 3s;
}
* .frame .space .star-274 {
  top: 22px;
  left: 92px;
  animation-delay: 33s;
  animation-duration: 6s;
}
* .frame .space .star-275 {
  top: 143px;
  left: 56px;
  animation-delay: 21s;
  animation-duration: 10s;
}
* .frame .space .star-276 {
  top: 152px;
  left: 106px;
  animation-delay: 13s;
  animation-duration: 7s;
}
* .frame .space .star-277 {
  top: 63px;
  left: 185px;
  animation-delay: 46s;
  animation-duration: 3s;
}
* .frame .space .star-278 {
  top: 232px;
  left: 92px;
  animation-delay: 37s;
  animation-duration: 3s;
}
* .frame .space .star-279 {
  top: 249px;
  left: 244px;
  animation-delay: 4s;
  animation-duration: 6s;
}
* .frame .space .star-280 {
  top: 35px;
  left: 208px;
  animation-delay: 49s;
  animation-duration: 9s;
}
* .frame .space .star-281 {
  top: 241px;
  left: 176px;
  animation-delay: 32s;
  animation-duration: 3s;
}
* .frame .space .star-282 {
  top: 215px;
  left: 101px;
  animation-delay: 23s;
  animation-duration: 3s;
}
* .frame .space .star-283 {
  top: 165px;
  left: 184px;
  animation-delay: 45s;
  animation-duration: 8s;
}
* .frame .space .star-284 {
  top: 104px;
  left: 90px;
  animation-delay: 37s;
  animation-duration: 1s;
}
* .frame .space .star-285 {
  top: 46px;
  left: 101px;
  animation-delay: 15s;
  animation-duration: 7s;
}
* .frame .space .star-286 {
  top: 11px;
  left: 142px;
  animation-delay: 44s;
  animation-duration: 7s;
}
* .frame .space .star-287 {
  top: 175px;
  left: 178px;
  animation-delay: 18s;
  animation-duration: 3s;
}
* .frame .space .star-288 {
  top: 134px;
  left: 145px;
  animation-delay: 4s;
  animation-duration: 5s;
}
* .frame .space .star-289 {
  top: 232px;
  left: 2px;
  animation-delay: 16s;
  animation-duration: 4s;
}
* .frame .space .star-290 {
  top: 37px;
  left: 133px;
  animation-delay: 27s;
  animation-duration: 9s;
}
* .frame .space .star-291 {
  top: 221px;
  left: 146px;
  animation-delay: 15s;
  animation-duration: 6s;
}
* .frame .space .star-292 {
  top: 197px;
  left: 182px;
  animation-delay: 7s;
  animation-duration: 7s;
}
* .frame .space .star-293 {
  top: 194px;
  left: 191px;
  animation-delay: 18s;
  animation-duration: 9s;
}
* .frame .space .star-294 {
  top: 265px;
  left: 103px;
  animation-delay: 7s;
  animation-duration: 4s;
}
* .frame .space .star-295 {
  top: 98px;
  left: 54px;
  animation-delay: 49s;
  animation-duration: 2s;
}
* .frame .space .star-296 {
  top: 213px;
  left: 159px;
  animation-delay: 12s;
  animation-duration: 3s;
}
* .frame .space .star-297 {
  top: 254px;
  left: 20px;
  animation-delay: 27s;
  animation-duration: 5s;
}
* .frame .space .star-298 {
  top: 242px;
  left: 217px;
  animation-delay: 32s;
  animation-duration: 2s;
}
* .frame .space .star-299 {
  top: 256px;
  left: 91px;
  animation-delay: 47s;
  animation-duration: 4s;
}
* .frame .space .star-300 {
  top: 145px;
  left: 163px;
  animation-delay: 26s;
  animation-duration: 6s;
}
* .frame .space .shooting-star {
  position: absolute;
  top: 0px;
  left: -50px;
  width: 120px;
  height: 2px;
  background: url(https://100dayscss.com/codepen/shooting-star.png) center center no-repeat;
  background-size: 100% 100%;
  transform: rotate(20deg);
}
@keyframes shooting-star-animation-1 {
  0% {
    transform: translate3d(0, 199px, 0) rotate(20deg);
  }
  10%, 100% {
    transform: translate3d(451px, 363px, 0) rotate(20deg);
  }
}
* .frame .space .shooting-star-1 {
  animation: shooting-star-animation-1 12s infinite;
  animation-delay: 6s;
}
@keyframes shooting-star-animation-2 {
  0% {
    transform: translate3d(0, 228px, 0) rotate(20deg);
  }
  10%, 100% {
    transform: translate3d(451px, 392px, 0) rotate(20deg);
  }
}
* .frame .space .shooting-star-2 {
  animation: shooting-star-animation-2 12s infinite;
  animation-delay: 7s;
}
@keyframes shooting-star-animation-3 {
  0% {
    transform: translate3d(0, 106px, 0) rotate(20deg);
  }
  10%, 100% {
    transform: translate3d(451px, 270px, 0) rotate(20deg);
  }
}
* .frame .space .shooting-star-3 {
  animation: shooting-star-animation-3 12s infinite;
  animation-delay: 8s;
}
@keyframes shooting-star-animation-4 {
  0% {
    transform: translate3d(0, 234px, 0) rotate(20deg);
  }
  10%, 100% {
    transform: translate3d(451px, 398px, 0) rotate(20deg);
  }
}
* .frame .space .shooting-star-4 {
  animation: shooting-star-animation-4 12s infinite;
  animation-delay: 9s;
}
@keyframes shooting-star-animation-5 {
  0% {
    transform: translate3d(0, 243px, 0) rotate(20deg);
  }
  10%, 100% {
    transform: translate3d(451px, 407px, 0) rotate(20deg);
  }
}
* .frame .space .shooting-star-5 {
  animation: shooting-star-animation-5 12s infinite;
  animation-delay: 10s;
}
@keyframes shooting-star-animation-6 {
  0% {
    transform: translate3d(0, 189px, 0) rotate(20deg);
  }
  10%, 100% {
    transform: translate3d(451px, 353px, 0) rotate(20deg);
  }
}
* .frame .space .shooting-star-6 {
  animation: shooting-star-animation-6 12s infinite;
  animation-delay: 11s;
}/*# sourceMappingURL=styles.css.map */