@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #0c0c0c;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.frame:hover .quadrato {
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.quadrato {
  border: 1px solid whitesmoke;
  transform-origin: 50% 50%;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.quadrato1 {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 195px;
  left: 195px;
  animation-duration: 2s;
  animation-delay: 0.05s;
  z-index: 0;
}

.quadrato2 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 190px;
  left: 190px;
  animation-duration: 2s;
  animation-delay: 0.1s;
  z-index: 0;
}

.quadrato3 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 185px;
  left: 185px;
  animation-duration: 2s;
  animation-delay: 0.15s;
  z-index: 0;
}

.quadrato4 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 180px;
  left: 180px;
  animation-duration: 2s;
  animation-delay: 0.2s;
  z-index: 0;
}

.quadrato5 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 175px;
  left: 175px;
  animation-duration: 2s;
  animation-delay: 0.25s;
  z-index: 0;
}

.quadrato6 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 170px;
  left: 170px;
  animation-duration: 2s;
  animation-delay: 0.3s;
  z-index: 0;
}

.quadrato7 {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 165px;
  left: 165px;
  animation-duration: 2s;
  animation-delay: 0.35s;
  z-index: 0;
}

.quadrato8 {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 160px;
  left: 160px;
  animation-duration: 2s;
  animation-delay: 0.4s;
  z-index: 0;
}

.quadrato9 {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 155px;
  left: 155px;
  animation-duration: 2s;
  animation-delay: 0.45s;
  z-index: 0;
}

.quadrato10 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 150px;
  left: 150px;
  animation-duration: 2s;
  animation-delay: 0.5s;
  z-index: 0;
}

.quadrato11 {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 145px;
  left: 145px;
  animation-duration: 2s;
  animation-delay: 0.55s;
  z-index: 0;
}

.quadrato12 {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 140px;
  left: 140px;
  animation-duration: 2s;
  animation-delay: 0.6s;
  z-index: 0;
}

.quadrato13 {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 135px;
  left: 135px;
  animation-duration: 2s;
  animation-delay: 0.65s;
  z-index: 0;
}

.quadrato14 {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 130px;
  left: 130px;
  animation-duration: 2s;
  animation-delay: 0.7s;
  z-index: 0;
}

.quadrato15 {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 125px;
  left: 125px;
  animation-duration: 2s;
  animation-delay: 0.75s;
  z-index: 0;
}

.quadrato16 {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 120px;
  left: 120px;
  animation-duration: 2s;
  animation-delay: 0.8s;
  z-index: 0;
}

.quadrato17 {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 115px;
  left: 115px;
  animation-duration: 2s;
  animation-delay: 0.85s;
  z-index: 0;
}

.quadrato18 {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 110px;
  left: 110px;
  animation-duration: 2s;
  animation-delay: 0.9s;
  z-index: 0;
}

.quadrato19 {
  width: 190px;
  height: 190px;
  position: absolute;
  top: 105px;
  left: 105px;
  animation-duration: 2s;
  animation-delay: 0.95s;
  z-index: 0;
}

.quadrato20 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 100px;
  animation-duration: 2s;
  animation-delay: 1s;
  z-index: 0;
}/*# sourceMappingURL=styles.css.map */